@import "./stylesheets/cards";

body {
  background-color: white;
}

#root {
  padding: 0;
  margin: 0;
  width: 100%;
}

#root > div {
  margin-top: 20px;
  display: flex;
}

.map-container {
  height: 100vh;
  width: 40%;
  position: sticky !important;
  top: 0 !important;
}

.flat-list {
  padding-left: 10px;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  .card {
    width: calc(50% - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;

    &:hover {
      transform: scale(0.98);
      opacity: 0.9;
    }
  }
}

.map-box {
  width: 210px;
  height: 210px;
  background-position: center;
  background-size: cover;
  border-radius: 5px;

  .map-box-title {
    padding: 5px;
    font-size: 13px;
    color: white;
    font-weight: bolder;
    background-color: tomato;
    text-align: center;
    border-radius: 5px 5px 0 0;
  }
}
